<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Products</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picnic/6.1.1/picnic.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picnic/6.1.1/plugins.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
	<nav>
	  <a href="#" class="brand">
	    <span>Shopify App</span>
	  </a>
	</nav>
	
	<main>
		<h1>Products</h1>
		<div class="flex two">
		  {% for prod in products %}
		  <div>
		    <article class="card">
		      <img src="{{ prod.images[0].src }}">
		      <section>
		        <h3>{{ prod.title }}</h3>
		        <strong>{{ prod.variants[0].price }} PHP</strong>
		      </section>
		    </article>
		  </div>
		  {% endfor %}
		</div>
	</main>
	
</body>
</html>